index2.html
math.html
index3.html
index5.html

https://github.com/noyseas/Excercises-9---Create-a-game-Using-a-Java-Script.git
https://noyseas.github.io/Excercises-9---Create-a-game-Using-a-Java-Script/
